[submodule "submodules/sigma"]
	path = submodules/sigma
	url = https://github.com/siriuslee69/Sigma-BenchAndEval.git
[submodule "submodules/Fylgia-Utils"]
	path = submodules/Fylgia-Utils
	url = https://github.com/siriuslee69/Fylgia-Utils.git
