[submodule "submodules/Fylgia-Utils"]
	path = submodules/Fylgia-Utils
	url = https://github.com/siriuslee69/Fylgia-Utils.git
	branch = main
[submodule "submodules/Var-Invariants"]
	path = submodules/Var-Invariants
	url = https://github.com/siriuslee69/Var-Invariants.git
	branch = nightly
[submodule "submodules/Nimble-Tasks"]
	path = submodules/Nimble-Tasks
	url = https://github.com/siriuslee69/Nimble-Tasks.git
	branch = main
